.contactUs{
    color: #1a313e;
    font-size: 1.1em;
  }
  .textToCenter{
      text-align:center;
  }
  .mapSection{
      padding-bottom:101px;
  }
  .noMarginBottom{
      margin-bottom: 0;
  }
  .contactUs .heading {
    color: rgba(101, 9, 21, 0.7215686274509804);
  }
  .contactUsContainer{
    padding: 80px 0 10px!important;
  }
  @media screen and (max-width: 960px) {
      .contactUs i {
      font-size: 30px;
      margin-bottom: 15px;
    }
    .contactUs .heading {
        font-size: 1.2rem;
        margin: 0px 0 15px 0;
        text-transform: none;
    }
    .contactUs .one_quarter {
        margin: 0 0 33px 0;
    }
    .contactUsContainer{
        padding: 35px 0 !important;
    }
  }