.slider-body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
}
.slider-body .container {
  width: 100%;
  padding: 0;
}

.site-wrap:before {
  display: none;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
::selection {
  background: #000;
  color: #fff;
}
.site-section {
  padding: 2.5em 0;
}
.site-section {
    padding: 2.5em 0;
}
user agent stylesheet section {
    display: block;
}
.block-13,
.slide-one-item {
    position: relative;
  z-index: 1;
}
.testimonial {
  max-width: 835px;
  margin-left: 50px;
}
/******* slider text section**********/

.testimonial blockquote {
  font-size: 1.5rem;
  font-style: italic;
}
.testimonial h2 {
    text-transform: none;
    color: #1a313e;
    font-style: italic;
    font-size: 3.1rem;
}
@media screen and (max-width: 960px) {
  .testimonial {
      margin-left: 0px;
  }
  .testimonial h2 {
      text-align: center;
      font-size: 2.1em;
  }
  .testimonial blockquote {
    text-align: center;
    font-size: 1.1rem;
}
  .site-section{
      padding-top: 5px;
  }
  .slide-one-item .owl-dots {
      text-align: center;
      /*margin: 50px 50px;*/
  }
}

@media (min-width: 960px) {
  .site-section {
    padding: 8em 0 5em 0;
  }
  .site-section-heading {
    font-size: 2.5rem;
  }
  .testimonial blockquote {
    font-size: 1.6rem;
    }
}

/************** Dots************/
.slide-one-item .owl-dots {
    /*text-align: center;*/
    margin: 10px 55px;
}
.slide-one-item .owl-dots .owl-dot {
    display: inline-block;
    margin: 4px;
}
.slide-one-item .owl-dots .owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#7a7a7ac7;
}
.slide-one-item .owl-dots .owl-dot.active span {
    background: #650915;
}